name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  test:
    uses: ./.github/workflows/gradle-base.yml
    with:
      task: test

  build:
    uses: ./.github/workflows/gradle-base.yml
    with:
      task: build
